

html {
  font-size: 16px;
}

.container {
  width: 100%;
  margin: 0;
}

div {
  display: block;
}

.flex {
  display: flex;
}

a {
  color: #AC6828;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  color: #2D2C30;
}

h2 {
  color: #576478;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
}

h3 {
  color: #2D2C30;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
}

h4 {
  color: #576478;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
}

p {
  color: #576478;
  font-family: 'Roboto', sans-serif;
  font-size: .9rem;
  font-weight: 400;
}

span {
  color: #576478;
  font-family: 'Roboto Slab', serif;
}

strong {
  font-weight: 800;
}
/* ##### Header #####*/

header {
  max-width: 100%;
}

header .container {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 3;
  height: 4rem;
  background-color: rgb(248,248,255);
  box-shadow: 0px 1px 8px 0px rgba(107, 107, 107, 0.5);
}


.logo {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  flex-grow: 1;
  color: black;
}

.logo img {
  height: 3rem;
  width: auto;
}

.logo span {
  font-size: 1.3rem;
}

.strong {
  color: #2D2C30;
}

nav ul li {
  color: #AC6828;
  display: inline;
  font-family: 'Roboto', sans-serif;
  padding-right: 1.5rem;
}

header a:hover {
  text-decoration: underline;
}

.mobile-container {
  display: none;
}

@media only screen and (max-width: 480px) {

  .mobile-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
  }

  .mobile-container img {
    height: 2rem;
    width: auto;
  }

  header .container {
    display: none;
  }
}


/* ###### Banner Section ##### */

.banner .container {
  align-items: center;
  margin-top: 4rem;
  background-color: #DAD8D2;
  width: 100%;
}

.large {
  padding: 2rem 1.5rem;
  width: 60%;
}

.banner-image {
  width: 100%;
  height: auto;
  overflow: hidden;

}
.large img {
  width: 100%;
  height: 34rem;
  display: block;
}

.small {
  /*display: flex;
  flex-direction: column;
  justify-content: center;*/
  padding: 0 2rem 0 1.5rem;
  width: 37%;
  height: auto;
}

.smallbox {
  width: 100%;
}

.small  h1, h3 {
  margin-bottom: 2rem;
  padding: 0 5rem 0 0;
  line-height: 1.4;
}

.small h1 {
  font-size: 3rem;
}

/*.smallbox a {
  margin-top: 1.5rem;
}*/

.button {
  padding: .8rem 8rem;
  background-color: #2D2C30;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 2%;
}

@media only screen and (max-width: 480px) {
  .banner .container {
    display: block;
    margin-top: 0;
  }

  .banner .large {
    width: 100%;
    padding: 0;
  }

  .banner .large img {
    height: auto;
  }

  .banner .small {
    width: 98%;
    padding: 2rem 0 2rem 0;
  }

  .banner .smallbox {
    text-align: center;
    width: 97%;
    padding-left: .5rem;
  }

  .banner .small  h1 {
    padding-left: 1rem;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    line-height: 150%;
    text-align: left;
  }

  .banner .small h3 {
    padding-left: 1rem;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    line-height: 150%;
    text-align: left;
  }

  .button {
    padding: .6rem 7rem;
  }
}

/* ##### Main Section ##### */

.main .container {
  background-color: rgb(248,248,255);
}

.mainlarge {
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
  width: 60%;
  border-right: 1px solid rgb(214,214,214);
}

.main-image {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.main-image img {
  max-width: 100%;
  height: auto;
  display: block;
}

.mainlarge h1 {
  padding: 2rem 0 1.5rem 0;
}

.mainlarge p {
  font-size: 1rem;
  padding-bottom: 1rem;
  line-height: 1.2;
}

.mainlarge span {
  font-size: .8rem;
  padding: 1.5rem 0 2rem 0;
}

.mainsmall {
  display: flex;
  flex-direction: column;
  margin: 1rem 0rem;
  width: 40%;
}

.mainsmall-item {
  display: flex;
  border: 1px solid rgb(214,214,214);
  margin: 1rem 1.5rem;
}

.mainsmall-item:hover {
  background-color:
  ;
}

.mainsmall-image {
  width: 35%;
  height: auto;
  overflow: hidden;
  padding: 1rem;
}

.mainsmall-image img {
  max-width: 100%;
  height: auto;
  display: block;
}

.mainsmall-image img.mobile-image {
  display: none;
}

.mainsmall-text {
  display: flex;
  align-items: center;
  width: 65%;
}

.mainsmall-text .box {
  width: 100%;
}

.mainsmall-text p {
  padding-bottom: 1rem;
}

.mainsmall-text a {
  font-size: .9rem;
}

 .mainsmall-text a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 480px) {

  .main .container {
    margin: 0;
    border-bottom: 1px solid rgb(214,214,214);
  }

  .main .mainlarge {
    display: none;
  }

  .main .mainsmall {
    width: 100%;
  }

  .mainsmall-item {
    flex-direction: column;
    margin: 0 0 2rem 0;
    width: 100%;
    border: 0;
  }

  .mainsmall-item.highlight {
    padding-bottom: 1rem;
  }

  .mainsmall-image {
    width: 92%;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .mainsmall-image img.mobile-image {
    display: block;
  }

  .mainsmall-image img {
    display: none;
  }

  .mainsmall .mainsmall-text {
    width: 94%;
    height: auto;
    padding-left: 1rem;
  }

  .mainsmall .mainsmall-text .box {
    padding-left: 1rem;
  }

  .mainsmall .mainsmall-text span {
    display: block;
  }
}

/* ##### Courses Section ##### */

.courses {
  background-color: #DAD8D2;
}

.courses h1 {
  text-align: center;
  padding: 2.5rem;
}

.courses-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 7.5rem 2rem 7.5rem;
}

.course {
  background-color: rgb(248,248,255) ;
  height: auto;
  width: 31%;
  margin-bottom: 2rem;
}

.course-image {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.course-image img {
  max-width: 100%;
  height: auto;
  display: block;
}

.course-content {
  padding: 1rem 1rem 1.5rem 1rem;
}

.course-content h3 {
  margin-bottom: .5rem
}

.course-content p {
  padding-top: .5rem
}

@media only screen and (max-width: 480px) {
  .courses {
    width: 100%;
    background-color: rgb(248,248,255);
  }

  .courses .container {
    width: 100%;
    border-bottom: 1px solid rgb(214,214,214);
    padding-bottom: 2rem;
  }

  .courses-grid {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0;
  }

  .courses-grid .course {
    width: 88%;
    margin: 0 1rem .5rem 1rem;
    background-color: #DAD8D2;
  }

  .course-image {
    display: none;
  }

  .course-content {
    width: 100%;
    padding: 1rem 0 1rem 1rem;
    background-color: #DAD8D2;
  }

  .course-content:hover {
    background-color: rgb(248,248,255);
  }

  .course-content p, span {
    display: none;
  }
}
/* ##### Thesis section ##### */
.thesis {
  background-color: rgb(248,248,255);
}

.thesis h1 {
  text-align: center;
  padding: 2.5rem;
}

.thesislarge {
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem 2.5rem 1.5rem;
  width: 60%;
}

.thesis-video {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.thesis-video video {
  max-width: 100%;
  height: auto;
  display: block;
}

.thesislarge-content h3 {
  margin: 2rem 0;
}

.thesissmall {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-right: 1rem;
}

.thesissmall-item {
  display: flex;
  height: 12.5rem;
}

.thesissmall-item:hover {
  background-color: #DAD8D2;
}

.highlight {
  background-color: #DAD8D2;
}

.highlight:hover {
  background-color: rgb(248,248,255);
}

.thesissmall-image {
  width: 35%;
  height: auto;
  overflow: hidden;
  padding: 1rem;
}

.thesissmall-image img {
  max-width: 100%;
  height: auto;
  display: block;
}

.thesissmall-content {
  display: flex;
  align-items: center;
  width: 65%;
}

.box {
  width: 80%;
  margin-left: 0;
}

.box h3 {
  line-height: 100%;
}

.box p {
  margin-top: -1rem;
  line-height: 160%;
}

@media only screen and (max-width: 480px) {
  .thesislarge {
    display: block;
    padding: 0 0 2rem 0;
    width: 100%;
  }

  .thesislarge-content {
    display: none;
  }

  .thesissmall {
    display: none;
  }

}

/* ###### Footer section ##### */
footer {
  width: 100%;
}

footer .container {
  padding-bottom: 2rem;
  border-top: 1px solid rgb(214,214,214);
  box-shadow: 0px 1px 8px 0px rgba(107, 107, 107, 0.5);
}

footer p {
  flex-grow: 1;
  padding: 1rem 0rem 0rem 1.5rem;
  font-size: .8rem;
}

footer a {
  font-size:  .8rem;
}

footer nav {
  padding: 1rem 0;
}

footer a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 480px) {

  footer {
    width: 98%;
  }

  footer .container {
    padding: 1rem 0 1rem .5rem;
  }

  footer p {
    flex-grow: 0;
    padding: 0;
    font-size: .8rem;
  }

  footer nav {
    display: none
  }


}
