

html {
  font-size: 16px;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: auto;
}

.container {
  width: 100%;
  margin: 0 auto;
}

div {
  display: block;
}

.flex {
  display: flex;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 2rem;
  font-weight: 800;
}

h2 {
  font-size: 1.8rem;
  font-weight: 700;
}

h3 {
  font-size: 1.4rem;
  font-weight: 600;
}

h4 {
  font-size: 1.1rem;
  font-weight: 600;
}

p, a {
  font-size: 1.2rem;
  font-weight: 400;
}

strong {
  font-weight: 800;
}
/* ##### Header #####*/

header {
  max-width: 100%;
}

header .container {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 3;
  height: 4rem;
  background-color: rgb(248,248,255);
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  color: black;
}

.logo img {
  height: 3rem;
  width: auto;
}

.logo span {
  font-size: 1.5rem;
}


nav ul li{
  display: inline;
  padding-right: 1.5rem;
}

header a:hover {
  font-weight: 600;
  opacity: 0.8;
}

/* ###### Banner Section ##### */


.banner .container {
  margin-top: 4rem;
  background-color: rgb(214,214,214);
  width: 100%;
}

.large {
  padding: 2rem 1.5rem;
  width: 60%;
}

.banner-image {
  width: 100%;
  height: 34rem;
  overflow: hidden;

}
.large img {
  max-width: 100%;
  height: auto;
  display: block;
}

.small {
  display: flex;
  align-items: center;
  padding: 2rem 2.5rem;
  width: 40%;
}

.small .content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 0rem;
  width: 80%;
  height: 100%;
}

.small .content h1, h3 {
  margin-bottom: 2rem;
  line-height: 150%;
}

.small .content h1 {
  font-size: 2.5rem;
}

.button {
  width: 100%;
  padding: 1rem 0;
  background-color: rgb(66,67,69);
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: bold;

}

/* ##### Main Section ##### */

.main .container {
  background-color: rgb(248,248,255);
}

.mainlarge {
  display: flex;
  flex-direction: column;
  margin-right: 1.5rem;
  padding: 2rem 1.5rem;
  width: 60%;
  border-right: 1px solid rgb(214,214,214);
}

.main-image {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.main-image img {
  max-width: 100%;
  height: auto;
  display: block;
}

.mainsmall {
  display: flex;
  flex-direction: column;
  margin: 1rem 0rem;
  width: 40%;
  height: auto;
}

.mainsmall-item {
  border: 1px solid rgb(214,214,214);
  margin: 1rem 1.5rem;
}

.mainsmall-image {
  width: 35%;
  height: auto;
  overflow: hidden;
}

.mainsmall-image img {
  width: 100%;
  height: auto;
  display: block;
}


/* ##### Courses Section ##### */

.courses {
  background-color: rgb(235,235,235);
  width: 100%;
}

.courses .container {
  display: flex;
  justify-content: center;
}

.courses h1 {
  text-align: center;
  padding: 2rem;
}

.courses-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  margin: 0 4.5rem 2rem 4.5rem;
}

.course {
  background-color: rgb(255, 255, 255);
  height: auto;
  width: 31%;
  margin-bottom: 2rem;
}

.course-image {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.course-image img {
  max-width: 100%;
  height: auto;
  display: block;
}

.course-content {
  padding: 1rem 1rem 1.5rem 1rem;
}

.course-content p{
  padding-top: .5rem
}
